<html>
    <head>
        <meta charset="UTF-8"/>
        <title>404 - Not found</title>
        <link rel="stylesheet" href="assets/main.css"/>
        <link rel="stylesheet" href="assets/404.css"/>
    </head>
    <body>
        <div id="container">
            <h1>404</h1>
            <h2>Resource not found</h2>
        </div>
    </body>
</html>