<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Office Schedule</title>
        <link rel="stylesheet" href="assets/main.css"/>
        <link rel="stylesheet" href="assets/index.css"/>
    </head>
    <body>
        <div id="container">
            <h1>Home Office Schedule</h1>
            <h2>If you are an authorized user, you probably know where to go now</h2>
        </div>
    </body>
</html>