table{
    width: 100%;
}

th{
    height: 50px;
    font-size: 22px;
    color: white;
}

td {
    text-align: center;
}

table, th, td{
    border: 1px solid white;
}

th, td{
    padding: 15px;
    color: white;
}

.thName, .thDay {
    width: 40%;
}

h3 {
    color: white;
    font-size: 28px;
    margin-top: 22px;
    text-align: center;
}

form{
    text-align: center;
    margin-top: 16px;
}

input{
    padding: 12px 20px;
    border-radius: 4px;
}

select{
    padding: 12px 20px;
    border-radius: 4px;
    width: 35%;
    margin-top: 2px;
}

input[type=date]{
    width: 35%;
    margin-top: 2px;
}

input[type=submit]{
    background-color: #27ae60;
    border: 1px solid white;
    color: white;
    width: 20%;
    font-size: 18px;
    margin-top: 4px;
}

input[type=submit]:hover{
    opacity: 0.8;
    transition: 0.5s;
}

.remove{
    color: white;
    font-size: 12px;
    text-decoration: none;
    background-color: #c0392b;
    padding: 12px 20px;
    border-radius: 4px;
}

ul{
    text-align: center;
    margin-top: 10px;
}

li{
    color: yellow;
}